html{
  font-size: 10px;
  font-family: 'Pattaya', sans-serif;
  background-color: pink;
}

body{
  width:600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px; 
}

h1{
  margin: 0;
  padding: 20px 0;
  font-size: 60px;
  text-align: center; 
}

h2{
   font-size: 25px;
   font-color:white;
   text-align: center;

}
p{
   font-size: 16px;
   line-height: 2;
   text-align: center;
}

img{
   display: block;
   margin: 0 auto;
}

button{
   display: block;
   margin: 0 auto;
}
a{
   text-decoration: none;
   font-size: 25px;
}
/* 看板娘 */

canvas#live2dcanvas {
   border: 0 !important;
   left: 0;
}

.content .link{
   display: inline-block;
   padding-top: 20px;
   color: rgb(42, 134, 187);
}
.content a:hover{
   color: #000;
}
